<% layout("/layouts/boilerplate") %>

<div class="container text-center mt-5">
  <h1>AI Interview Prep + Resume Analyzer 🚀</h1>
  <p class="mt-3">Practice interviews and improve with AI</p>

  <!-- AUTH BUTTONS -->
  <div class="mt-4">
    <% if (!currUser) { %>
      <a href="/signup" class="btn btn-primary">Sign Up</a>
      <a href="/login" class="btn btn-success">Login</a>
    <% } else { %>
      <a href="/logout" class="btn btn-danger">Logout</a>
    <% } %>
  </div>

  
  <!-- INTERVIEW CTA -->
  <div class="mt-4">
    <% if (currUser) { %>
      <a href="/interview" class="btn btn-dark btn-lg">
        🚀 Start Interview
      </a>
    <% } else { %>
      <a href="/login" class="btn btn-warning">
        Login to Start Interview
      </a>
    <% } %>
  </div>
</div>