<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
  <h2 class="text-center">Login 🔐</h2>

  <form action="/login" method="POST" class="mt-4">
    <div class="mb-3">
      <label>Username</label>
      <input type="text" name="username" class="form-control" required />
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input type="password" name="password" class="form-control" required />
    </div>

    <button class="btn btn-success w-100">Login</button>
  </form>
</div>
