<% layout("/layouts/boilerplate") %>
<link href="/css/resume.css" rel="stylesheet" />
<div class="resume-page">
  <!-- HEADER -->
  <div class="top-content">
    <div class="aiTag">✨ AI-Powered Analysis</div>
    <h1 class="header">Resume Analyzer</h1>
    <p>
      Compare your resume against any job description and get actionable
      insights to land your dream role.
    </p>
  </div>

  <form
    action="/resume-analyze"
    method="POST"
    enctype="multipart/form-data"
    class="needs-validation"
    novalidate
  >
    <div class="middle-container">
      <!-- LEFT CARD -->
      <div class="resume-container">
        <h5>Your Resume</h5>
        <p>Upload a file or paste your resume text</p>

        <!-- FILE INPUT -->
        <label class="upload-box">
          <input type="file" name="resumeFile" hidden />
          <p>⬆ Drag & drop or <span>browse</span></p>
          <small>PDF, DOC, TXT</small>
        </label>

        <div class="divider">or paste below</div>

        <textarea
          name="resumeText"
          placeholder="Paste your resume content here..."
        ></textarea>
      </div>

      <!-- RIGHT CARD -->
      <div class="resume-container">
        <h5>Job Description</h5>
        <p>Paste the target job description</p>

        <textarea
          name="jobDescription"
          class="jd-box"
          placeholder="Paste the job description here..."
          required
        ></textarea>
        <!-- //bootstrap classes for success failure text -->
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter the JD!</div>
      </div>
    </div>

    <!-- BUTTON -->
    <div class="analyze-btn">
      <button type="submit">⚡ Analyze Resume</button>
    </div>
  </form>
</div>


<script src="/js/resume.js"> 

