<% layout("/layouts/boilerplate") %> <% layout("/layouts/boilerplate") %>
<link href="/css/login.css" rel="stylesheet" />

<div class="main-container">
  <div class="auth-box">
    <div class="auth-header">
      <h4>Create your account</h4>
      <p>Start acing your interviews with AI</p>
    </div>

    <div class="details">
      <form
        action="/signup"
        method="POST"
        class="mt-4 needs-validation"
        novalidate
      >
        <div>
          <label class="form-label" for="username">username</label>

          <input
            type="text"
            name="username"
            id="username"
            placeholder="e.g. Pratham"
            class="form-control input-style"
            required
            minlength="3"
          />

          <div class="valid-feedback">👍 Nice username!</div>
          <div class="invalid-feedback">
            Please enter your username (at least 3 characters).
          </div>
        </div>

        <div>
          <label for="email" class="form-label">Email</label>

          <input
            type="email"
            name="email"
            id="email"
            placeholder="e.g. pratham@gmail.com"
            class="form-control input-style"
            required
          />

          <div class="valid-feedback">✅ Email looks valid!</div>
          <div class="invalid-feedback">
            Please enter a valid email address (e.g. name@gmail.com).
          </div>
        </div>

        <div>
          <label for="password" class="form-label">Password</label>

          <input
            type="password"
            name="password"
            id="password"
            class="form-control input-style"
            placeholder="Min 6 characters"
            required
            minlength="6"
          />

          <div class="valid-feedback">🔐 Strong enough!</div>
          <div class="invalid-feedback">
            Password must be at least 6 characters long.
          </div>
        </div>

        <button class="btn btn-primary w-100">Register</button>
      </form>
      <div class="redirect">
        <p>
          Already have an account? <span> <a href="/login"> Sign in</a></span>
        </p>
      </div>
    </div>
  </div>
</div>
