body {
  background:
    radial-gradient(
      circle at 50% 30%,
      rgba(56, 189, 248, 0.15),
      transparent 55%
    ),
    radial-gradient(
      circle at 60% 50%,
      rgba(99, 102, 241, 0.1),
      transparent 60%
    ),
    #020617;

  color: white;
}
.performance-wrapper {
  max-width: 1100px;
  margin: 100px auto;
  padding: 20px;
  color: white;
}

/* HEADER */
.performance-header {
  text-align: center;
  margin-bottom: 40px;
}

.performance-header h2 {
  font-size: 2rem;
}

.performance-header p {
  color: #94a3b8;
  font-size: 14px;
}

/* ================= STATS ================= */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

.stat-card {
  padding: 25px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.08);

  text-align: center;
}

.stat-card h5 {
  color: #94a3b8;
  margin-bottom: 10px;
}

.stat-card h2 {
  font-size: 1.8rem;
  color: #38bdf8;
}

/* ================= ANSWERS ================= */
.answers-section h3 {
  margin-bottom: 20px;
}

/* EMPTY */
.empty {
  text-align: center;
  color: #94a3b8;
}

/* CARD */
.answer-card {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* BLOCK */
.block {
  margin-bottom: 15px;
}

.block h6 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* TEXT */
.block p {
  color: #94a3b8;
  font-size: 14px;
}

/* FEEDBACK BOX */
pre {
  background: rgba(255, 255, 255, 0.04);
  padding: 10px;
  border-radius: 8px;
  color: #cbd5f5;
  font-size: 13px;
  white-space: pre-wrap;
}

.topic {
  border: 1px solid white;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

/* DATE */
.date {
  font-size: 12px;
  color: #64748b;
}

@media (max-width: 768px) {
  .stats-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .stat-card {
    padding: 30px 15px;
  }

  .stat-card h2 {
    font-size: 2.2rem;
  }
}
